form {
    display: inline-block;
    width: 100%;
  }
  form > .form-row {
    display: inline-block;
    width: 100%;
    margin-bottom: 30px;
  }
  form > .form-row:last-of-type {
    margin-bottom: 0;
  }
  form > .form-row > label {
    display: inline-block;
    width: 100%;
    margin-bottom: 5px;
    font-size: 15px;
    color: #777;
    text-transform: uppercase;
  }
  form > .form-row > input {
    display: inline-block;
    width: 100%;
    font-size: 20px;
    line-height: 30px;
    border: none;
    border-bottom: 1px solid #ccc;
  }
  form > .form-row > input:focus-visible {
    outline: 2px solid #777;
  }
  
  form > .form-row > span {
    display: inline-block;
    line-height: 26px;
    padding: 5px;
    margin-left: 5px;
    font-size: 17px;
  }
  form > .form-row > a {
    display: inline-block;
    line-height: 26px;
    padding: 5px;
    text-decoration: none;
    color: #2348d4;
    font-weight: bold;
    font-size: 17px;
  }
  
  form > .form-row > a:hover {
    text-decoration: underline;
  }