body {
    background-color: #3f37ad;
}
.background {
    display: inline-block;
    width: 100%;
    height: 100vh;
    background-image: url(../fall.jpg);
    background-size: cover;
    background-position: center;
    filter: blur(25px);
}
.container {
    display: inline-block;
    width: 800px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.left-column {
    width: 40%;
    padding: 40px;
    padding-bottom: 20px;
    background-color: #3f52f2;
    background-image: url(../fall.jpg);
    color:#fff;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 30px;
    bottom: 30px;

}

h1 {
}

.bottom-texts {
    position: absolute;
    bottom: 20px;
    left: 40px;
    right: 40px;
}

.bottom-texts > a {
  color: #fff;
}

.right-column {
    width: 60%;
    float: right;
    padding: 60px;
    background-color: #fff;
    position: relative;
}
.close {
    height: 60px;
    width: 60px;
    text-align: center;
    line-height: 50px;
    position: absolute;
    top: 0px;
    right: 0px;
}